@media screen and (max-width: 576px) {
    
    .nav-bar {
        margin: 0px auto;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .nav-text {
        text-align: center;
    }

    .nav-icon {
        padding: 10px;
    }
}

/* banner heading media style */

@media screen and (max-width: 576px) {
    .header-banner {
        margin: 0 auto;
        height: 800px;
        width: 420px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-content: center;
    }
    .banner-text {
        padding: 10px;
        /* display: flex;
        flex-direction: column; */
        display: block;
        margin: 0 auto;
    }
    .banner-text{
        position: relative;
        top: -150px;
    }

    .banner-text .headline {
        width: 300px;
        height: 133px;
        color: #3A3A3A;
        font-size: 1.8rem;
        font-weight: 700;
        /* 134.615% */
    }
    .banner-text p {
        margin: 20px 0 50px 0;
        width: 400px;}
    .box img {
        width: 300px;
    }
    .camera{
        top: 150px;
        left: 10px;
        z-index: 1;
    }
    .ring {
        top: -200px;
        left: 30px;
    }
}

/* E commarce mobile style */

@media screen and (max-width: 576px) {
    .e-com-link {
        width: 300px;
        height: 100%;
                margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(3; 2fr);
                gap: 50px;
    }
}
