
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Universal Style on css */
  *{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* nav Bar style */
.nav-bar {
    max-width: 1200px;
    margin: 30px auto;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}
.nav-text .text{
width: 100%;
color: #3A3A3A;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 1.5rem;
font-weight: 700;
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-weight: 600;
}
.nav-icon a {
    text-decoration: none;
}
